<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Producto</title>
</head>
<body>
    <main>
        <h3 style="margin:2rem 0;"> Lista de Productos:</h3>
        <% if(productos.length) { %> 
            <table style="margin:3rem 0;">
                <thead style="background-color:aliceblue ;">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(producto => { %> 
                        <tr scope="row">
                            <td>
                                <%= producto.title %> 
                            </td>
                            <td>
                                <%= producto.price %> 
                            </td>
                            <td>
                                <img src="<%= producto.thumbnail %> " alt="<%= producto.title %> " style="width:6rem">
                            </td>
                            
                        </tr>  
                    
                    <% }) %> 
                </tbody>
            </table>
        <% } else { %> 
            <p style="color: red;">No hay ninguna producto :(</p>
        <% } %> 
        <a href="/productos/crear">Crear Productos</a>
    </main>
</body>
</html>